{% extends 'base.html' %}

{% block title %}Password Changed{% endblock %}

{% block content %}

<div class="password-reset-wrapper">

    <div class="password-reset-card">

        <div class="password-reset-header">

            <h2>Password Updated</h2>

            <p>

                Your password has been changed successfully.

            </p>

        </div>

        <div class="alert alert-success text-center">

            You can now log in using your new password.

        </div>

        <div class="back-login">

            <a href="{% url 'login' %}" class="btn btn-reset">

                Go to Login

            </a>

        </div>

    </div>

</div>

{% endblock %}