<div class="bg-dark text-white p-3" style="width: 220px; height: 100vh; position: fixed;">

    <h5>CRM Menu</h5>

    <ul class="nav flex-column mt-3">

        <li><a href="/" class="nav-link text-white">Dashboard</a></li>
        <li><a href="/contacts/" class="nav-link text-white">Contacts</a></li>
        <li><a href="/leads/" class="nav-link text-white">Leads</a></li>
        <li><a href="/deals/" class="nav-link text-white">Deals</a></li>
        <li><a href="/tasks/" class="nav-link text-white">Tasks</a></li>
        <li><a href="/interactions/" class="nav-link text-white">Interactions</a></li>
        <li><a href="/notes/" class="nav-link text-white">Notes</a></li>


        <li><a href="/accounts/profile/" class="nav-link text-white">Profile</a></li>

    </ul>
</div>