{% extends 'base.html' %}

{% block title %}Add Contact{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="row justify-content-center">

        <div class="col-md-7">

            <div class="crm-card p-4">

                <!-- Title -->
                <h3 class="crm-title mb-4">
                    ➕ Add New Contact
                </h3>

                <!-- Form -->
                <form method="POST">

                    {% csrf_token %}

                    <div class="crm-form-wrapper">
                        {{ form.as_p }}
                    </div>

                    <button type="submit" class="btn crm-btn-primary w-100 mt-3">
                        Save Contact
                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}